/* @font-face {
   font-family: 'LineSeed';
   src: local('LineSeed'), url(../../public/font/lineseed/LINESeedSansTH_W_He.woff) format('woff');
   font-weight: 900;
}

@font-face {
   font-family: 'LineSeed';
   src: local('LineSeed'), url(../../public/font/lineseed/LINESeedSansTH_W_XBd.woff) format('woof');
   font-weight: 600;
}

@font-face {
   font-family: 'LineSeed';
   src: local('LineSeed'), url(../../public/font/lineseed/LINESeedSansTH_W_Bd.woff) format('woff');
   font-weight: 700;
}

@font-face {
   font-family: 'LineSeed';
   src: local('LineSeed'), url(../../public/font/lineseed/LINESeedSansTH_W_Rg.woff) format('woff');
   font-weight: 400;
}

@font-face {
   font-family: 'LineSeed';
   src: local('LineSeed'), url(../../public/font/lineseed/LINESeedSansTH_W_Th.woff) format('woff');
   font-weight: 300;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --scrollbar-track: #f7f7f7;
   --scrollbar-thumb: #a0a0a0;
}

.dark {
   --scrollbar-track: #c0c0c0;
   --scrollbar-thumb: #505050;
}

@layer utilities {
   ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
   }

   ::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: var(--scrollbar-track);
   }

   ::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb);
      border-radius: 100vh;
   }

   ::-webkit-scrollbar-thumb:hover {
      background: #303030;
   }
}

@layer base {
   h1,
   h2,
   h3,
   h4 {
      @apply text-text;
   }
   h1 {
      @apply text-xl font-bold md:text-2xl;
   }
   h2 {
      @apply text-lg font-bold md:text-2xl;
   }
   h4 {
      @apply text-base font-medium md:text-lg;
   }
   input[type='text'],
   input[type='password'] {
      @apply block w-full   outline-none  placeholder:text-text-lighter;
   }
   button {
      @apply text-base font-normal transition-colors;
   }
   p {
      @apply font-normal text-text indent-10;
   }
   button:focus-visible {
      @apply border-transparent outline-transparent;
   }
   /* div {
      @apply font-primary;
   } */
}

@layer components {
   .ellipsis {
      @apply overflow-hidden text-ellipsis;
   }
}

html,
body {
   padding: 0;
   margin: 0;
   font-family: 'SFthonburi', 'Kanit', sans-serif;
   overflow-x: hidden;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

#nprogress .bar {
   height: 3px;
   background: #303030;
   background: linear-gradient(90deg, #303030 0%, rgba(255, 255, 255, 1) 100%);
}
